/* Coolors Exported Palette - coolors.co/133c55-386fa4-59a5d8-84d2f6-91e5f6 */

/* RGB */
$color1: rgba(19, 60, 85, 1);
$color2: rgba(56, 111, 164, 1); //also link color
$color3: rgba(89, 165, 216, 1);
$color4: rgba(132, 210, 246, 1);
$color5: rgba(145, 229, 246, 1);

$color-transparent: rgba(0,0,0,0);

$color-white: #fff;


$color-grey-dark: #ccc;
$color-grey-darker: #666;
$color-grey-darkest: #333;

$color-black: #000;
$color-black-light: rgb(15, 15, 15);


//LINKS
$link-color: rgba(56, 111, 164, 1);