.post-entry {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid rgba($color-grey-dark,0.3);
    border-radius: 3px;
    margin-bottom: 2rem;
    overflow: hidden;
    box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.15);
}

.post-content {
    padding: 1rem;
}

.post-header {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: .8rem;


    &__img {
        flex: 0 0 5rem;
        height: 5rem;
        border-radius: 3px;
        margin-right: 1rem;
    }

    &__details {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex: 1;
        font-size: 1.3rem;
        
    }

    &__options-btn {
        cursor: pointer;
        align-self: flex-start;
        color: $color-grey-dark;
        font-size: 2rem;
        line-height: 0;
        background-color: transparent;
        border: none;

        &:hover,
        &:focus {
            outline: none;
            color: $color2;
        }

        // &:hover,
        // &:active {
        //     outline: none;
        // }
    }

    &__options-menu {
        position: absolute;
        top: 1.2rem;
        right: 0;
        border: 1px solid $color-grey-dark;
        padding: .5rem 0;
        border-radius: 3px;
        list-style: none;
        width: 8rem;
        height: 5rem;
        box-shadow: 0 0.2rem 0.6rem rgba($color-black,.2);
    }

    &__options-item {
        display: block;
        cursor: pointer;
        font-size: 1.2rem;
        line-height: 2rem;
        color: $color-grey-darkest;
        padding-left: .5rem;

        &:hover {
            color: $color-white;
            background-color: $color2;
        }
    }

    &__author {
        color:$color2;
        flex: 0 0 20%;
        font-size: 1.3rem;
        font-weight: 600;
    }

    &__date-posted {
        flex: 1;
        font-size: 1.2rem;
    }
}

.post-body {
    padding: .5rem 0 1rem 0;
    font-size: 1.4rem;
    border-bottom: 1px solid rgba($color-black,0.1);
}

.post-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding: 1rem 0 .0rem 0;
    text-align: center;

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: $color3;
        border: none;
        background-color: transparent;
        font-size: 1.4rem;
        flex: 0 0 8rem;

        &:hover,
        &:focus {
            outline: none;
            color: $color2;
        }

    }

    &__icon {
        fill: $color-grey-darker;
        height: 2rem;
        width: 2rem;
        margin-right: .5rem;
    }
    

}

.post-comment {
    
    &__form {
        display: none;
        flex-direction: row;
        justify-content: flex-start;
        background-color: rgba($color-grey-dark,.3);
        // padding: 2rem 1rem 1rem 2rem;
        padding: 2rem;
        padding-bottom: 1.6rem;
        font-size: 1.3rem;
    }

    &__textbox,
    &__text {
        align-self: flex-start;
        background-color: $color-white;
        border: 1px solid rgba($color-black,.15);
        border-radius: 20px;
        padding: .5rem 1rem;
        margin-left: 1rem;
        min-width: 56rem;
        max-width: 56rem;
    }

    &__avatar {
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 100px;
        border: 1px solid rgba($color-grey-dark,.7);

        &-link {
            align-self: flex-start;
        }
    }

    &__author-link {
        display: none;
        font-weight: 600;
    }

    &__input {
        display: inline-block;
        user-select: text;
        white-space: pre-wrap;
        word-wrap: break-word;
        margin-left: .5rem;
        padding-right: 0.5rem;
        // width: 53rem;
    
        &:focus {
            outline: none;
        }
    }  

    &__placeholder {
        color: rgba($color-grey-darker,.5);
    }

    &__body {
        display: none;
    }

    &__entry {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        background-color: rgba(204, 204, 204, 0.3);
        padding: 2rem;
        padding-bottom: 1.6rem;
        font-size: 1.3rem;
    }

    &__author-name {
        color: $color2;
        font-weight: 700;
    }

    &__option-btn {
        cursor: pointer;
        display: inline-block;
        align-self: flex-start;
        margin-left: 1rem;
        padding: .5rem;
        font-size: 1.4rem;
        font-weight: 700;
    }

    &__text {
        border: none;
        min-width: auto;
        padding-right: .5rem;
    }
    
}



.js--liked {
    fill: $color3;
}




