body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
}


.heading-1 {
    color: $color-black-light;
}

a,
a:link {
    display: block;
    text-decoration: none;
    color: $color2;
}