/*

0 - 600PX       :Phone
601 - 900       :Tablet Portrait
901 - 1200px    :Tablet Landscape
1201 - 1800     :Current Normal stylings in use
1801+           :Big Desktop

$breakpoint  values
- phone
- tab-port
- tab-land
- big-desktop

ORDER OF RESPONSIVE MANIPULATIONS:
BASE + TYPOGRAPHY + GENERAL LAYOUT > GENERAL LAYOUT + GRID >PAGE LAYOUT > COMPPONENTS

*/
/* Coolors Exported Palette - coolors.co/133c55-386fa4-59a5d8-84d2f6-91e5f6 */
/* RGB */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background-color: #ccc;
  box-sizing: border-box;
  font-size: 1.6rem; }

.container {
  border-radius: 3px;
  margin: 0 5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7; }

.heading-1 {
  color: #0f0f0f; }

a,
a:link {
  text-decoration: none;
  color: #386fa4; }

.u-center-text {
  text-align: center; }

@media (max-width: 56.25em) {
  .u-center--res {
    text-align: center;
    display: block; } }

.u-margin-bottom-s {
  margin-bottom: 1.5rem; }

.u-margin-bottom-m {
  margin-bottom: 4rem; }

.u-margin-bottom-l {
  margin-bottom: 8rem; }

.u-hidden {
  display: none !important; }

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40rem;
  height: 100%;
  margin: 0 auto;
  padding: 3rem 0; }

.form-title {
  font-size: 3rem;
  color: #fff;
  width: 100%;
  background-color: #84d2f6;
  margin: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 1rem 3rem;
  text-align: center;
  z-index: 100; }

.form-errors {
  color: #fff;
  font-size: 1.3rem;
  background-color: rgba(250, 77, 77, 0.9);
  padding: 1rem 4rem 1.5rem 2rem;
  z-index: 100; }
  .form-errors__title {
    font-size: 1.6rem; }
  .form-errors__list {
    margin-left: 2.5rem; }

.register-form,
.login-form {
  width: 100%;
  padding: 3rem;
  background-color: #91e5f6;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  position: relative;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);
  z-index: 100; }
  .register-form__label,
  .login-form__label {
    display: block;
    color: #666;
    font-size: 1.2rem;
    font-weight: 700;
    opacity: 0;
    visibility: hidden;
    transform: translate(1.3rem, -4.8rem);
    transition: all .3s ease-out; }
  .register-form__input,
  .login-form__input {
    display: block;
    font-size: 1.4rem;
    width: 100%;
    margin-bottom: 1rem;
    padding: .9rem 1rem;
    border-radius: 3px;
    border: none;
    border-bottom: 3px solid transparent; }
    .register-form__input::-webkit-input-placeholder,
    .login-form__input::-webkit-input-placeholder {
      color: #ccc; }
  .register-form__input:focus, .register-form__input:active,
  .login-form__input:focus,
  .login-form__input:active {
    outline: none;
    border-bottom: 3px solid #59a5d8; }
    .register-form__input:focus:invalid, .register-form__input:active:invalid,
    .login-form__input:focus:invalid,
    .login-form__input:active:invalid {
      border-bottom: 3px solid red; }
  .register-form__input:focus + .register-form__label,
  .login-form__input:focus + .register-form__label, .register-form__input:focus +
  .login-form__label,
  .login-form__input:focus +
  .login-form__label {
    opacity: 1;
    visibility: visible;
    z-index: -100;
    transform: translate(1.2rem, -0.8rem); }
  .register-form__input:placeholder-shown + .register-form__label,
  .login-form__input:placeholder-shown + .register-form__label, .register-form__input:placeholder-shown +
  .login-form__label,
  .login-form__input:placeholder-shown +
  .login-form__label {
    opacity: 0;
    visibility: hidden;
    transform: translate(1.3rem, -4.8rem); }
  .register-form__text,
  .login-form__text {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 2rem; }
    .register-form__text--link,
    .login-form__text--link {
      text-decoration: none;
      font-size: 1.3rem; }
      .register-form__text--link:link, .register-form__text--link:visited,
      .login-form__text--link:link,
      .login-form__text--link:visited {
        color: #386fa4; }
  .register-form__chkbox + .register-form__label,
  .login-form__chkbox + .register-form__label, .register-form__chkbox +
  .login-form__label,
  .login-form__chkbox +
  .login-form__label {
    opacity: 1;
    visibility: visible;
    transform: translate(2rem, -2.5rem);
    font-size: 1.3rem;
    font-weight: 400;
    color: #666; }
  .register-form__btn,
  .login-form__btn {
    color: #fff;
    background-color: #59a5d8;
    border: 1px solid #666;
    border-radius: 3px;
    border: none;
    padding: 1.5rem 2.5rem;
    letter-spacing: .3rem;
    font-weight: 700;
    width: 100%;
    text-transform: uppercase;
    box-shadow: 0 1rem 4rem rgba(102, 102, 102, 0.4);
    margin-bottom: 2.5rem; }
  .register-form__footer,
  .login-form__footer {
    display: block;
    text-align: center;
    color: #666;
    font-size: 1.3rem;
    font-weight: 400; }
  .register-form__switch-btn,
  .login-form__switch-btn {
    text-decoration: none;
    font-weight: 700; }
    .register-form__switch-btn:link, .register-form__switch-btn:visited,
    .login-form__switch-btn:link,
    .login-form__switch-btn:visited {
      color: #386fa4; }
    .register-form__switch-btn:hover,
    .login-form__switch-btn:hover {
      color: #fff; }

/* Change Autocomplete styles in Chrome*/
.post-entry,
.comment-entry {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid rgba(204, 204, 204, 0.3);
  border-radius: 3px;
  margin-bottom: 2rem;
  overflow: hidden;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.15); }

.post-content,
.comment-content {
  padding: 1rem; }

.post-header,
.comment-header {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: .8rem; }
  .post-header__img,
  .comment-header__img {
    flex: 0 0 5rem;
    height: 5rem;
    border-radius: 3px;
    margin-right: 1rem; }
  .post-header__details,
  .comment-header__details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    font-size: 1.3rem; }
  .post-header__options-btn,
  .comment-header__options-btn {
    cursor: pointer;
    align-self: flex-start;
    color: #ccc;
    font-size: 2rem;
    line-height: 0;
    background-color: transparent;
    border: none; }
    .post-header__options-btn:hover, .post-header__options-btn:focus,
    .comment-header__options-btn:hover,
    .comment-header__options-btn:focus {
      outline: none;
      color: #386fa4; }
  .post-header__options-menu,
  .comment-header__options-menu {
    position: absolute;
    top: 1.2rem;
    right: 0;
    border: 1px solid #ccc;
    padding: .5rem 0;
    border-radius: 3px;
    list-style: none;
    width: 8rem;
    height: 5rem;
    box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.2); }
  .post-header__options-item,
  .comment-header__options-item {
    display: block;
    cursor: pointer;
    font-size: 1.2rem;
    line-height: 2rem;
    color: #333;
    padding-left: .5rem; }
    .post-header__options-item:hover,
    .comment-header__options-item:hover {
      color: #fff;
      background-color: #386fa4; }
  .post-header__author,
  .comment-header__author {
    color: #386fa4;
    flex: 0 0 20%;
    font-size: 1.3rem;
    font-weight: 600; }
  .post-header__date-posted,
  .comment-header__date-posted {
    flex: 1;
    font-size: 1.2rem; }

.comment-header__img {
  flex: 0 0 3rem;
  border-radius: 3px;
  margin-right: 1rem;
  height: 4rem;
  width: 4rem; }

.post-body,
.comment-body {
  padding: .5rem 0 1rem 0;
  font-size: 1.4rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.post-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding: 1rem 0 .0rem 0;
  text-align: center; }
  .post-footer__link {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #59a5d8;
    border: none;
    background-color: transparent;
    font-size: 1.4rem;
    flex: 0 0 8rem; }
    .post-footer__link:hover, .post-footer__link:focus {
      outline: none;
      color: #386fa4; }
  .post-footer__icon {
    fill: #666;
    height: 2rem;
    width: 2rem;
    margin-right: .5rem; }

.post-comment__form {
  display: none;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(204, 204, 204, 0.3);
  padding: 2rem;
  padding-bottom: 1.6rem;
  font-size: 1.3rem; }

.post-comment__textbox, .post-comment__text {
  align-self: flex-start;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: .5rem 1rem;
  margin-left: 1rem;
  min-width: 39rem;
  max-width: 56rem; }

.post-comment__textbox--input {
  width: 100%; }

.post-comment__avatar {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 100px;
  border: 1px solid rgba(204, 204, 204, 0.7); }
  .post-comment__avatar-link {
    align-self: flex-start; }

.post-comment__author-link {
  display: none;
  font-weight: 600; }

.post-comment__input {
  display: inline-block;
  user-select: text;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin-left: .5rem;
  padding-right: 0.5rem; }
  .post-comment__input:focus {
    outline: none; }

.post-comment__placeholder {
  color: rgba(102, 102, 102, 0.5); }

.post-comment__body {
  display: none; }

.post-comment__entry {
  background-color: rgba(204, 204, 204, 0.3);
  padding: 2rem;
  padding-bottom: 1.6rem;
  font-size: 1.3rem; }

.post-comment__content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; }

.post-comment__time-label {
  color: #666;
  margin-left: 5.8rem; }

.post-comment__author-name {
  color: #386fa4;
  font-weight: 700; }

.post-comment__option-btn {
  cursor: pointer;
  display: inline-block;
  align-self: flex-start;
  margin-left: 1rem;
  padding: .5rem;
  font-size: 1.4rem;
  font-weight: 700; }

.post-comment__text {
  border: none;
  min-width: auto;
  padding-right: .5rem; }

.more_comments {
  color: #59a5d8;
  cursor: pointer;
  border: none;
  border-top: 1px solid rgba(51, 51, 51, 0.1);
  background-color: rgba(204, 204, 204, 0.3);
  padding: 1rem;
  text-align: left; }
  .more_comments:focus {
    outline: none; }

.post-edit__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid rgba(102, 102, 102, 0.4);
  border-radius: .3rem;
  margin-top: 1.5rem;
  text-align: right; }

.post-edit__textarea {
  border: none;
  width: 100%;
  padding: 1rem;
  font-family: inherit;
  resize: none; }

.post-edit__buttons {
  padding: .2rem;
  background-color: rgba(56, 111, 164, 0.1); }

.post-edit__cancel, .post-edit__done {
  cursor: pointer;
  font-size: 1.3rem;
  color: #333;
  border: 1px solid rgba(19, 60, 85, 0.3);
  border-radius: .3rem;
  font-weight: 600;
  background-color: transparent;
  padding: .4rem 1rem;
  margin-left: .4rem; }
  .post-edit__cancel:hover, .post-edit__done:hover {
    background-color: rgba(56, 111, 164, 0.2); }

.post-edit__done {
  color: #fff;
  background-color: #386fa4; }
  .post-edit__done:hover {
    background-color: rgba(19, 60, 85, 0.9); }

.js--liked {
  fill: #59a5d8; }

.loading__info {
  display: none;
  margin: 3rem auto;
  height: 3rem;
  width: 3rem;
  border: 4px solid #fff;
  border-top: 4px solid #386fa4;
  border-left: 4px solid #386fa4;
  border-bottom: 4px solid #386fa4;
  border-right: 4px solid #ccc;
  border-radius: 100rem;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.header {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  width: 100%;
  background-color: #386fa4;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2); }
  .header__logo {
    cursor: pointer;
    color: #fff;
    height: 6rem;
    flex: 0 0 8%;
    margin-left: 2rem; }

.search {
  position: relative;
  height: 3rem;
  flex: 0 0 30%;
  display: flex;
  justify-content: center; }
  .search__input {
    display: inline-block;
    height: 100%;
    width: 60%;
    padding: .5rem 1.5rem;
    border: none;
    border-radius: 100px;
    font-family: inherit;
    font-size: 1.4rem;
    transition: width .4s; }
    .search__input:active, .search__input:focus {
      outline: none;
      width: 100%;
      color: #333;
      letter-spacing: .08 rem; }
    .search__input::-webkit-input-placeholder {
      color: #ccc; }
  .search__btn {
    cursor: pointer;
    height: 100%;
    width: 4rem;
    border: none;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    transform: translateX(-3rem); }
    .search__btn:active, .search__btn:focus, .search__btn:hover {
      outline: none; }
    .search__btn:hover {
      background-color: #59a5d8; }
    .search__btn:hover .search__btn__icon {
      color: #fff; }
  .search__icon {
    left: 0;
    height: 100%;
    width: 4rem;
    padding: .5rem; }
    .search__icon:hover {
      color: #fff;
      fill: #fff; }

.user-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  flex: 0 0 40%;
  height: 100%; }
  .user-nav > * {
    cursor: pointer;
    width: 5.0rem;
    height: 100%;
    padding: 0 1.2rem;
    align-self: center;
    transition: all .4s; }
    .user-nav > *:hover {
      background-color: #59a5d8; }
  .user-nav__icon-box:hover .user-nav__icon {
    fill: #fff; }
  .user-nav__username {
    width: auto;
    display: flex;
    align-items: center; }
  .user-nav__link, .user-nav__link:link, .user-nav__link:visited {
    color: #fff; }
  .user-nav__icon {
    width: 100%;
    height: 100%; }
  .user-nav__logout {
    color: #fff;
    cursor: pointer;
    border: none;
    width: auto;
    height: 100%;
    line-height: 2rem;
    margin-right: 3rem;
    background-color: #a80000; }

.row {
  max-width: 96rem;
  margin: 0 auto; }
  @media (max-width: 56.25em) {
    .row {
      padding: 0 2rem;
      margin: 0; } }
  .row:not(:last-child) {
    margin-bottom: 8em; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc( (100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc( (100% - (2 * 6rem)) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - (2 * 6rem)) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc( (100% - (3 * 6rem)) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - (3 * 6rem)) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - (3 * 6rem)) / 4)  + (2 * 6rem)); }

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  color: #333;
  width: 100%;
  min-height: calc(100vh - 8rem); }

.sidebar {
  flex: 0 0 250px;
  height: 100%;
  margin: 2rem 1rem 1rem 1rem; }
  .sidebar-links {
    display: block;
    font-size: 1.4rem;
    padding: 1.5rem;
    border-radius: 3px;
    background-color: #fff; }
  .sidebar__title {
    color: #fff;
    padding: .5rem 1rem;
    border-radius: 3px;
    background-color: #386fa4; }
  .sidebar__list {
    list-style: none;
    margin: 1rem 0; }
  .sidebar__link {
    display: block;
    padding: .1rem;
    border-radius: 3px;
    transition: all .1s; }
    .sidebar__link:hover {
      padding-left: .5rem;
      background-color: rgba(19, 60, 85, 0.1); }

.user-info {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 14rem;
  margin-bottom: 2rem;
  padding: 1.5rem;
  border-radius: 3px;
  background-color: #fff; }
  .user-info__pix-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    border-radius: 3px;
    background-color: #133c55; }
  .user-info__pix {
    width: 100%;
    height: auto; }

.user-details {
  font-size: 1.25rem;
  line-height: 2rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  padding: 0 1rem; }
  .user-details__first-name {
    color: #133c55;
    font-size: 1.5rem;
    font-weight: 700; }
  .user-details__last-name {
    font-weight: 700; }

.main {
  flex: 1 0 500px;
  margin: 2rem 1rem 1rem 1rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 3px; }

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: auto;
  padding: 0;
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden; }
  .main-content::after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1); }
  .main-content__bg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100%; }

.wall__form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem; }

.wall__textarea {
  font-size: 1.5rem;
  font-family: inherit;
  border: 1px solid rgba(19, 60, 85, 0.3);
  border-radius: 3px;
  width: 80%;
  height: 5rem;
  padding: 1rem;
  resize: none; }
  .wall__textarea:focus {
    outline: none; }

.wall__submit {
  color: rgba(255, 255, 255, 0.6);
  width: 18%;
  height: 5rem;
  font-size: 1.6rem;
  border: none;
  border-radius: 3px;
  background-color: #59a5d8;
  transition: all .1s; }
  .wall__submit:hover {
    color: white;
    outline: none;
    background-color: #386fa4; }
